<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Travel Info</h2>
                    <h3 class="section-subheading text-muted">How to get to Castello di Montegufoni</h3>
                </div>
            </div>
            <div class="row text-center">
              <div class="transport">
                <div class="col-lg-12">
                  <h3 class="subheading">From Florence</h3>
                  <div class="timeline-heading">
                    <span class="text-center">
                      <i class="fa fa-car fa-4x" style="display:block"></i>
                      <h4 class="subheading">Car</h4>
                    </span>
                  </div>
                  <ul class="car-instructions" style="margin-left: 20px">
                  <li class="timeline-inverted">
                    <p class="text-muted">Exit at Firenze-Scandicci and take the superstrada FIRENZE-PISA-LIVORNO (blue signs) towards Pisa/Livorno.</p>
                  </li>
                  <li class="timeline-inverted">
                    <p class="text-muted">Exit at Ginestra Fiorentina and at the roundabout follow the signs for San Casciano-Cerbaia.</p>
                  </li>
                  <li class="timeline-inverted">
                    <p class="text-muted">At the second roundabout, continue in the direction of Cerbaia.  Continue on this road for about 6 km.</p>
                  </li>
                  <li class="timeline-inverted">
                    <p class="text-muted">At Cerbaia junction turn right and continue towards Montagnana.</p>
                  </li>
                  <li class="timeline-inverted">
                    <p class="text-muted">Once you arrive in Montagnana pass the petrol station on your left and after about 500 metres turn right.  It is signposted Montegufoni.</p>
                  </li>
                  <li class="timeline-inverted">
                    <p class="text-muted">Continue for about 1 Km and then turn left where you can locate the entrance to the castle of Montegufoni, marked by statues of two lions.</p>
                  </li>
                  <li class="timeline-inverted">
                    <p class="text-muted">This road leads to the parking lot located in front of the Castle, where you can leave your car. The front desk is located inside the Castle, next to the main court.</p>
                  </li>
                </ul>
                </br>
                </br>
                <div class="timeline-heading">
                  <span class="text-center">
                    <i class="fa fa-train fa-4x" style="display:block"></i>
                    <h4 class="subheading">Train</h4>
                  </span>
                </div>
                <p class="text-muted">The nearest railway station is located in <strong> Montelupo Fiorentino</strong> (about 10 Km from the Castle).</p>
                  <p class="text-muted">You can get to this station from <strong>Florence Train Station Santa Maria Novella </strong>by buying a ticket from the <strong><a href="http://www.trenitalia.com/cms/v/index.jsp?vgnextoid=4ddd1a035296f310VgnVCM1000005817f90aRCRD">Trenitalia company</a></strong> </p>
                <p class="text-muted">the journey is around <strong>25 minutes </strong>and costs approximately <strong>€3.40 </strong>and they are quite frequent.  The ticket machines at the train station are simple to use and you can simply buy tickets on the day, no need to buy one in advance.  You can either take a taxi from the station or if you let us know in advance when you are arriving we can pick you up. </p>
                </br>
                </br>
                <div class="timeline-heading">
                  <span class="text-center">
                    <i class="fa fa-bus fa-4x" style="display:block"></i>
                    <h4 class="subheading">Bus</h4>
                  </span>
                </div>
                  <p class="text-muted">You can arrive from Florence by bus via the SITA company line. The bus station is next to the Central Station Santa Maria Novella FS.</p>
                  <p class="text-muted">Take the bus that has the final destination as Montegufoni Certaldo/Montespertoli and you will need to get off <strong>Baccaiano</strong></p>
                  <p class="text-muted">You will need to walk about <strong>1.2km </strong>to get to Castello di Montegufoni from the bus station.</p>
                  <p class="text-muted"><strong><a href="http://www.rome2rio.com/fr/s/Florence/Castello-di-Montegufoni">Bus travel information</a></strong></p>
                </div>
                </div>
            </div>
        </div>
    </section>
