<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Wedding reception</h2>
                    <h3 class="section-subheading text-muted">We welcome you to Castello di Montegufoni!</h3>
                </div>
            </div>
            <div class="row castle">
                <div class="col-lg-6">
                  <img src="img/castle/Montegufoni.jpg" alt="Montegufoni.jpg">
                </div>
                <div class="col-lg-6">
                  <img src="img/castle/Montegufoni2.jpg" alt="Montegufoni2.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                  </br>
                  </br>
                  <p class="large text-muted">The wedding reception will be at Castello di Montegufoni in the center of Tuscany, Italy.</p>
                  <p class="large text-muted">It is situated approximately 20km from Florence airport and 30km from the center of Florence.</p>
                  <strong><a href="http://www.montegufoni.it/">More information can be found here!</a></strong>
                </div>
            </div>
        </div>
    </section>
