<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Wedding reception</h2>
                    <h3 class="section-subheading text-muted">we welcome you to Castello di Montegufoni</h3>
                </div>
            </div>
            <div class="row">
            <!-- {% for post in site.posts %} -->
            <!--     <div class="col&#45;md&#45;4 col&#45;sm&#45;6 portfolio&#45;item"> -->
            <!--         <a href="#portfolioModal{{ post.modal&#45;id }}" class="portfolio&#45;link" data&#45;toggle="modal"> -->
            <!--             <div class="portfolio&#45;hover"> -->
            <!--                 <div class="portfolio&#45;hover&#45;content"> -->
            <!--                     <i class="fa fa&#45;plus fa&#45;3x"></i> -->
            <!--                 </div> -->
            <!--             </div> -->
            <!--             <img src="img/portfolio/{{ post.thumbnail }}" class="img&#45;responsive" alt=""> -->
            <!--         </a> -->
            <!--         <div class="portfolio&#45;caption"> -->
            <!--             <h4>{{ post.title }}</h4> -->
            <!--             <p class="text&#45;muted">{{ post.subtitle }}</p> -->
            <!--         </div> -->
            <!--     </div> -->
            <!-- {% endfor %} -->
            </div>
        </div>
    </section>
