<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Story</h2>
                    <h3 class="section-subheading text-muted">It all started when a fearless young canadian met an australian adventure seeker...</h3>
                </div>
            </div>
            <div class="row portfolio">
              <section id="least">

                <!-- Least Gallery: Fullscreen Preview -->
                <div class="least-preview"></div>

                  <!-- Least Gallery: Thumbnails -->
                  <ul class="least-gallery">
                    <!-- 1th thumbnail -->
                      <li>
                        <a href="img/story/IMG_4761_reduce.jpg" data-subtitle="View Picture" data-caption="Xingjiang - October 2013" >
                          <img src="img/story/IMG_4761_reduce.jpg" class="img-responsive" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="img/story/IMG_4641_reduce.jpg" data-subtitle="View Picture" data-caption="Xingjiang - October 2013" >
                          <img src="img/story/IMG_4641_reduce.jpg" class="img-responsive" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="img/story/IMG_5068_reduce.jpg" data-subtitle="View Picture" data-caption="Xingjiang - October 2013" >
                          <img src="img/story/IMG_5068_reduce.jpg" class="img-responsive" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="img/story/IMG_5012_reduce.jpg" data-subtitle="View Picture" data-caption="Xingjiang - October 2013" >
                          <img src="img/story/IMG_5012_reduce.jpg" class="img-responsive" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="img/story/IMG_4927_reduce.jpg" data-subtitle="View Picture" data-caption="Xingjiang - October 2013" >
                          <img src="img/story/IMG_4927_reduce.jpg" class="img-responsive" alt="">
                        </a>
                      </li>


                      <li>
                        <a href="img/story/IMG_0120.jpg" data-subtitle="View Picture" data-caption="Xingjiang - October 2013" >
                          <img src="img/story/IMG_0120.jpg" class="img-responsive" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="img/story/IMG_0255.jpg" data-subtitle="View Picture" data-caption="Xingjiang - October 2013" >
                          <img src="img/story/IMG_0255.jpg" class="img-responsive" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="img/story/IMG_0319.jpg" data-subtitle="View Picture" data-caption="Xingjiang - October 2013" >
                          <img src="img/story/IMG_0319.jpg" class="img-responsive" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="img/story/IMG_1149.jpg" data-subtitle="View Picture" data-caption="Xingjiang - October 2013" >
                          <img src="img/story/IMG_1149.jpg" class="img-responsive" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="img/story/IMG_1280.jpg" data-subtitle="View Picture" data-caption="Xingjiang - October 2013" >
                          <img src="img/story/IMG_1280.jpg" class="img-responsive" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="img/story/IMG_1354.jpg" data-subtitle="View Picture" data-caption="Xingjiang - October 2013" >
                          <img src="img/story/IMG_1354.jpg" class="img-responsive" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="img/story/IMG_1586.jpg" data-subtitle="View Picture" data-caption="Xingjiang - October 2013" >
                          <img src="img/story/IMG_1586.jpg" class="img-responsive" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="img/story/IMG_1622.jpg" data-subtitle="View Picture" data-caption="Xingjiang - October 2013" >
                          <img src="img/story/IMG_1622.jpg" class="img-responsive" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="img/story/IMG_1646.jpg" data-subtitle="View Picture" data-caption="Xingjiang - October 2013" >
                          <img src="img/story/IMG_1646.jpg" class="img-responsive" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="img/story/IMG_1676.jpg" data-subtitle="View Picture" data-caption="Xingjiang - October 2013" >
                          <img src="img/story/IMG_1676.jpg" class="img-responsive" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="img/story/IMG_1694.jpg" data-subtitle="View Picture" data-caption="Xingjiang - October 2013" >
                          <img src="img/story/IMG_1694.jpg" class="img-responsive" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="img/story/IMG_1864.jpg" data-subtitle="View Picture" data-caption="Xingjiang - October 2013" >
                          <img src="img/story/IMG_1864.jpg" class="img-responsive" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="img/story/IMG_2042.jpg" data-subtitle="View Picture" data-caption="Xingjiang - October 2013" >
                          <img src="img/story/IMG_2042.jpg" class="img-responsive" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="img/story/IMG_2211.jpg" data-subtitle="View Picture" data-caption="Xingjiang - October 2013" >
                          <img src="img/story/IMG_2211.jpg" class="img-responsive" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="img/story/IMG_2314.jpg" data-subtitle="View Picture" data-caption="Xingjiang - October 2013" >
                          <img src="img/story/IMG_2314.jpg" class="img-responsive" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="img/story/IMG_2395.jpg" data-subtitle="View Picture" data-caption="Xingjiang - October 2013" >
                          <img src="img/story/IMG_2395.jpg" class="img-responsive" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="img/story/IMG_2631.jpg" data-subtitle="View Picture" data-caption="Xingjiang - October 2013" >
                          <img src="img/story/IMG_2631.jpg" class="img-responsive" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="img/story/IMG_2891.jpg" data-subtitle="View Picture" data-caption="Xingjiang - October 2013" >
                          <img src="img/story/IMG_2891.jpg" class="img-responsive" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="img/story/IMG_3104.jpg" data-subtitle="View Picture" data-caption="Xingjiang - October 2013" >
                          <img src="img/story/IMG_3104.jpg" class="img-responsive" alt="">
                        </a>
                      </li>
                  </ul>
              </section>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="service-heading">And decided to get engaged...</h4>
                </div>
            </div>
            <div class="row video_player">
              <video id="video-proposition" class="video-js vjs-default-skin"
                controls preload="auto" width="640" height="360"
                poster="img/poster.jpg"
                data-setup='{"example_option":true}'>
               <source src="http://36337aae49f09d64b623-c5c47fd135e04ae143b7c39149448819.r97.cf6.rackcdn.com/top_secret_project.mp4" type='video/mp4' />
               <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
              </video>
            </div>
        </div>
    </section>
