<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Accomodation</h2>
                <h3 class="section-subheading text-muted">Where to stay?</h3>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <p class="large text-muted">Castello di Montegufoni offers a variety of villas/apartments from 1 bedroom to 4 bedroom.  This is where we will be staying over the week <strong>(Monday 28th September to Monday 5th October)</strong> and we would love for you to join us in particular over the weekend from <strong>Friday 2nd October to Monday 5th October.</strong></p>
            <p class="large text-muted">If you are looking to book, you can see the details of the apartments at: <strong><a href="http://www.tuscany-villas.it/vacation_rentals/15699/">Castello di Montegufoni booking website</a></strong> </p>
            <p class="large text-muted">We have been to Castello di Montegufoni and seen many of the rooms and details of the area so if you would like any more information please don’t hesitate to ask and we will help you out</p>
            <p class="large text-muted">If you are looking to book, you can see the details of the apartments at: <strong><a href="mailto:villa.booking@easyreserve.com">villa.booking@easyreserve.com</a></strong> </p>
            <p class="large text-muted"><strong>Booking fee is free until 31st March 2015</strong> </p>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading text-muted">Where to eat?</h3>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <p class="large text-muted">At Castello di Montegufoni there is a restaurant open for lunch and dinner only every day of the week excluding Tuesday.  They have a different set meals every evening consisting of an appetizer, pasta, main and tea and coffee for around <strong> €20-€25</strong>.  As breakfast is not available at the restaurant we do suggest you bring some breakfast food for your mornings at the castle.  Your rooms have kitchens with basic kitchen utensils.</p>
            <p class="large text-muted">There will of course be meals included in the events we will be having for the wedding over the weekend, details to come…</p>
            <p class="large text-muted">Around Castello di Montegufoni there are other restaurants available, the closest being 800m from the castle.  You can get an idea about the other restaurants available from <strong><a href="http://www.tuscany-villas.it/vacation_rentals/15699/pag05.php?poilist_action=search_poi&poilist_page=1&poilist_perpage=12&poilist_code%5B1%5D=REST&poilist_lat=43.67036263830566&poilist_long=11.09010606072843&gmap_address=&poilist_distancerange=20">this link</a></strong> </p>
          </div>
        </div>
    </div>
</section>
