<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Accomodation</h2>
                    <h3 class="section-subheading text-muted">Where to stay?</h3>
                </div>
            </div>
            <!-- <div class="row"> -->
            <!--     {% for member in site.people %} -->
            <!--     <div class="col&#45;sm&#45;4"> -->
            <!--         <div class="team&#45;member"> -->
            <!--             <img src="img/team/{{ member.pic }}.jpg" class="img&#45;responsive img&#45;circle" alt=""> -->
            <!--             <h4>{{ member.name }}</h4> -->
            <!--             <p class="text&#45;muted">{{ member.position }}</p> -->
            <!--             <ul class="list&#45;inline social&#45;buttons"> -->
            <!--                 {% for network in member.social %} -->
            <!--                 <li><a href="{{ network.url }}"><i class="fa fa&#45;{{ network.title }}"></i></a> -->
            <!--                 {% endfor %} -->
            <!--  -->
            <!--             </ul> -->
            <!--         </div> -->
            <!--     </div> -->
            <!--     {% endfor %} -->
            <!-- </div> -->
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section>
